.main-details-box {
    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 10px;
    border-radius: 5px;
    min-width: 140px;
    align-items: center;
    font-weight: bold;
    color: #faf9f6;
    border: 0px solid #faf9f67f;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.47);
 
    background: rgba(31, 30, 30, 0.207);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(12px);

    transition: all 0.3s ease;
}

.main-details-box h6 {
    font-size: 12px;
    font-weight: bold;
    color: lch(74.89% 43.53 243.27);
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.336);
}

.main-details-box:hover {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(12px);
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-Radius: 8px;

    padding: 20px;
    padding-top: 40px;
   
    background: url("https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-54587.jpg?semt=ais_hybrid&w=740&q=80") center/cover;
    width: auto;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.47);
}

.container h1 {
    color: #faf9f6;
    font-size: 55px;
    margin-bottom: 10px;
}

.input-container {

    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 90%;
    position: relative;
    height: 60px;
}


.input-container input {
    padding-inline: 20px;
    padding-right: 40px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.066);
    background: #faf9f6b5;
    
    width: 100%;
    height: 40px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    position: absolute;
    transition: all 0.3s ease;
    z-index: 0;
}

.input-container input:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.153);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.153);
}

.input-container button {

    padding: 10px;
    border-radius: 30px;
    border: 0px;
    width: 50px;
    background-color: transparent;
    transition: all 0.3s ease;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    right: 0;
    z-index: 1;


}

.input-container button:hover {

    background-color: rgba(255, 255, 255, 0.563);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.153);


}




.main-details-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 19px;
    
    justify-content: center;
    overflow-x: auto;
    padding: 10px;
    padding-top: 20px;
}

.container img {
    width: 150px;
    height: 150px;
}

.modern-design {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    border-Radius: 8px;

    padding: 20px;
   background: transparent;
    width: auto;

    color: #faf9f6;
}

.modern-design h1 {
    font-size: 45px;
    font-weight: bold;
   text-justify: center; 
}

.modern-design h5 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.modern-design h6 {
    font-size: 12px;
    font-style: bold;
    text-align: center;
}

.main-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-Radius: 8px;

    padding: 20px;
    padding-inline: 28px;
    padding-left: 6px;
    background: rgba(31, 30, 30, 0.207);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    width: 92%;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.47);
}

.image {

    width: 150px;
    height: 150px;
}